<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head th:replace="~{common/layout/head :: common_head(~{::title},~{::link})}">
    <title>Mylog</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<div class="profile-container profile-page">

    <div class="main-content">
        <!-- 헤더 영역 -->
        <div class="header" th:replace="~{common/fragment/header :: header(${user})}"></div>

        <!-- 빈 영역 -->
        <div class="none-area"></div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <!-- 프로필 이미지 -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="profile-picture">
                        <div class="profile-image" th:if="${user.profileImage != null}" th:style="'background-image: url(' + @{${user.profileImage}} + ');'"></div>
                        <div class="profile-image" th:unless="${user.profileImage != null}" th:style="'background-image: url(' + @{/images/default/profile-image.png} + ');'"></div>
                        <input type="hidden" id="user-profile-image" th:value="${user.profileImage}">
                        <div class="profile-buttons">
                            <input type="file" id="profileImageInput" class="d-none" onchange="uploadProfileImage()" accept=".png, .jpg, .jpeg">
                            <button class="btn btn-primary" onclick="document.getElementById('profileImageInput').click();">프로필 업로드</button>
                            <button class="btn btn-danger" onclick="removeProfileImage()">기본 프로필</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- 라인 -->
            <div class="row"><div class="col-md-4"></div><div class="col-md-4"><hr></div><div class="col-md-4"></div></div>
            <!-- 이메일 -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="profile-info">
                        <h5>이메일</h5>
                        <div class="d-flex justify-content-between">
                            <p id="user-id" th:text="${user.email}">사용자 아이디</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- 닉네임 -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="profile-info">
                        <h5>닉네임</h5>
                        <div class="d-flex justify-content-between">
                            <p id="user-nickname" th:text="${user.nickname}">사용자 닉네임</p>
                            <button class="btn btn-link" id="edit-nickname-button" onclick="editNickname()">수정</button>
                        </div>
                        <div class="d-none" id="nickname-edit-form">
                            <input type="text" id="new-nickname" class="form-control" placeholder="새 닉네임">
                            <button class="btn btn-primary mt-2" onclick="saveNickname()">저장</button>
                            <button class="btn btn-secondary mt-2" onclick="cancelNicknameEdit()">취소</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- 비밀번호 -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="profile-info">
                        <h5>비밀번호</h5>
                        <div class="d-flex justify-content-between">
                            <p>********</p>
                            <button class="btn btn-link" id="edit-password-button" onclick="editPassword()">수정</button>
                        </div>
                        <div class="d-none" id="password-edit-form">
                            <input type="password" id="current-password" class="form-control mt-2" placeholder="현재 비밀번호">
                            <input type="password" id="new-password" class="form-control mt-2" placeholder="새 비밀번호">
                            <input type="password" id="confirm-password" class="form-control mt-2" placeholder="새 비밀번호 확인">
                            <button class="btn btn-primary mt-2" onclick="savePassword()">저장</button>
                            <button class="btn btn-secondary mt-2" onclick="cancelPasswordEdit()">취소</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- 회원 탈퇴 -->
            <div class="profile-actions text-center mt-4">
                <button class="btn btn-danger" onclick="deleteAccount()">회원 탈퇴</button>
            </div>
            <!-- 라인 -->
            <div class="row"><div class="col-md-4"></div><div class="col-md-4"><hr></div><div class="col-md-4"></div></div>
        </div>

    </div>
</div>

<!-- 공통 스크립트 -->
<div th:replace="~{common/fragment/script :: common_script}"></div>
<script>
    // 회원 프로필 이미지 수정 API
    function updateProfileImage(imageUrl) {
        return fetch('/api/user/profile-image', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                profileImage: imageUrl
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == true) {
                document.querySelector('.profile-image').style.backgroundImage = 'url(' + imageUrl + ')';
            } else {
                alert('유저 정보 업데이트에 실패했습니다.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('유저 정보 업데이트 중 오류가 발생했습니다.');
        });
    }

    // 프로필 이미지 업로드 API
    function uploadProfileImage() {
        const input = document.getElementById('profileImageInput');
        if (input.files && input.files[0]) {
            const file = input.files[0];

            // 이미지 업로드
            const formData = new FormData();
            formData.append('image', file);

            fetch('/api/file/image', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.response.status == true) {
                    var imageUrl = data.url;
                    updateProfileImage(imageUrl);
                } else {
                    alert('이미지 업로드에 실패했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('이미지 업로드 중 오류가 발생했습니다.');
            });
        }
    }

    // 프로필 이미지 기본 프로필로 변경
    function removeProfileImage() {
        updateProfileImage('/images/default/profile-image.png');
        document.querySelector('.profile-image').style.backgroundImage = 'url(/images/default/profile-image.png)';
        document.getElementById('profileImageInput').value = '';
    }

    // 닉네임 수정 element 생성
    function editNickname() {
        document.getElementById('user-nickname').style.display = 'none';
        document.getElementById('edit-nickname-button').style.display = 'none';
        document.getElementById('nickname-edit-form').classList.remove('d-none');
    }

    // 닉네임 수정 element 제거
    function cancelNicknameEdit() {
        document.getElementById('user-nickname').style.display = 'block';
        document.getElementById('edit-nickname-button').style.display = 'block';
        document.getElementById('nickname-edit-form').classList.add('d-none');
    }

    // 닉네임 수정 API
    function saveNickname() {
        const newNickname = document.getElementById('new-nickname').value;
        fetch('/api/user/nickname', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                nickname: newNickname
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == true) {
                document.getElementById('user-nickname').innerText = newNickname;
                cancelNicknameEdit();
            } else {
                alert('닉네임이 중복되었거나 사용할 수 없습니다.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('닉네임이 중복되었거나 사용할 수 없습니다.');
        });
    }

    // 비밀번호 수정 element 생성
    function editPassword() {
        document.getElementById('edit-password-button').style.display = 'none';
        document.getElementById('password-edit-form').classList.remove('d-none');
    }

    // 비밀번호 수정 element 제거
    function cancelPasswordEdit() {
        document.getElementById('edit-password-button').style.display = 'block';
        document.getElementById('password-edit-form').classList.add('d-none');
    }

    // 비밀번호 수정 API
    function savePassword() {
        const currentPassword = document.getElementById('current-password').value;
        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        // 비밀번호 정규표현식
        const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;

        if (passwordRegex.test(newPassword) && newPassword === confirmPassword) {
            fetch('/api/user/password', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    password: currentPassword,
                    newPassword: newPassword
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == true) {
                    alert('비밀번호가 변경되었습니다.');
                    cancelPasswordEdit();
                } else {
                    alert('비밀번호를 변경할 수 없습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('현재 비밀번호가 일치하지 않아 비밀번호를 변경할 수 없습니다.');
            });
        } else {
            alert("새 비밀번호와 새 비밀번호 확인이 일치하지 않거나 올바르지 않은 형식의 비밀번호입니다.");
        }
    }

    // 회원 탈퇴 API
    function deleteAccount() {
        if (confirm('정말로 탈퇴하시겠습니까? 탈퇴후에는 복구할 수 없습니다.')) {
            fetch('/api/user', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === true) {
                    alert('회원 탈퇴가 완료되었습니다.');
                    logout();
                } else {
                    alert('회원 탈퇴에 실패했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('회원 탈퇴 중 오류가 발생했습니다.');
            });
        }
    }
</script>
</body>
</html>
