<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<th:block th:fragment="header(user)">
    <div class="header">
        <div class="header-left"></div>
        <div th:if="${#authentication.name == 'anonymousUser'}" class="header-right">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" style="height: 36px">
            </form>
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal" style="height: 36px">로그인</button>
        </div>
        <div th:if="${#authentication.name != 'anonymousUser'}" class="header-right">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" style="height: 36px">
            </form>
            <div style="position: relative;">
                <i class="bi bi-gear settings-icon"></i>
                <div class="dropdown-menu">
                    <a th:href="@{/main}">Home</a>
                    <a th:href="@{/blog/{userId}(userId=${user.userId})}">Mylog</a>
                    <a th:href="@{/blog/{userId}/write(userId=${user.userId})}">새 글쓰기</a>
                    <a th:href="@{/profile}">마이페이지</a>
                    <a id="logoutButton">로그아웃</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인/회원가입 모달 -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">로그인 / 회원가입</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 로그인/회원가입 폼 내용 -->
                    <form th:action="@{/login}" id="loginForm" method="post">
                        <input type="hidden" id="redirectUrl" name="redirectUrl">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
                        </div>
                        <button type="submit" class="btn btn-primary">로그인</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>계정이 없으신가요? <a href="#" th:href="@{/signup}">회원가입</a></p>
                </div>
            </div>
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const settingsIcon = document.querySelector('.settings-icon');
        const dropdownMenu = document.querySelector('.dropdown-menu');

        settingsIcon.addEventListener('click', function () {
            dropdownMenu.classList.toggle('show');
        });

        // 메뉴 외부 클릭시 메뉴 닫기
        document.addEventListener('click', function (event) {
            if (!settingsIcon.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    });
</script>
</th:block>
</body>
</html>