<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<th:block th:fragment="sidebar(bloger, categoryList)">
    <div class="sidebar">
        <div class="profile-section">
            <div class="profile-image" th:if="${bloger.profileImage != null}" th:style="'background-image: url(' + @{${user.profileImage}} + ');'"></div>
            <div class="profile-image" th:unless="${bloger.profileImage != null}" th:style="'background-image: url(' + @{/images/default/profile-image.jpg} + ');'"></div>
            <p class="profile-nickname" th:text="${bloger.nickname}">닉네임</p>
        </div>
        <div class="line-section"><hr></div>
        <div class="category-section">
            <p class="category-title">전체보기</p>
            <ul class="category-list sidebar-category-list">
                <li th:each="category : ${categoryList}" class="category-item">
                    <a class="category-item-link" th:text="${category.name}"></a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>