<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<th:block th:fragment="sidebar(user)">
    <div class="sidebar">
        <img src="/images/logo/text-icon-60x20.png" alt="MyLog Logo" class="text-logo">
        <div class="profile-section">
            <div class="profile-pic" th:style="'background-image: url(' + @{${user.profileImage}} + ');'"></div>
            <p th:text="${user.nickname}">닉네임</p>
        </div>
        <hr>
        <div class="categories">
            <h3>글목록 (20)</h3>
            <ul class="category-item">
                <li>카테고리1 (6)</li>
                <li>카테고리2 (10)</li>
                <li>카테고리3 (4)</li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>