body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.blog-container {
    display: flex;
    flex: 1;
    /*overflow: auto;*/
}

.sidebar {
    width: 300px;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    flex-shrink: 0; /* 사이드바가 축소되지 않도록 설정 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-shrink: 0; /* 헤더가 축소되지 않도록 설정 */
}

.none-area {
    height: 16%;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    /*overflow: auto;*/
}

.new-post-icon .bi {
    display: flex;
    justify-content: flex-end; /* 아이콘을 오른쪽 끝으로 배치 */
    align-items: center;
    font-size: 1.7rem;
    cursor: pointer;
}

.category-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.category-button {
    margin-right: 20px;
}
.category-display {
    font-size: 16px;
    color: #555;
}

.post-item-link {
    text-decoration: none;
    color: inherit;
}

.post-item-link:hover {
    text-decoration: none;
    color: inherit;
}