.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px; /* 아이콘과 입력 필드 사이의 간격을 설정 */
}

.form-inline .form-control {
    width: 200px;
}

.bi {
    font-size: 1.7rem;
    cursor: pointer;
}

.bi-gear {
    color: #666666;
}

.bi-box-arrow-right {
    color: #dc3545;
    margin-right: 10px;
}

.bi-box-arrow-in-right {
    margin-right: 10px;
}