.logo-section {
    margin-top: 10px;
    margin-bottom: 20px; /* 섹션 간격 조절 */
}

.profile-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px; /* 섹션 간격 조절 */
    position: relative;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    display: block;
    border: 0.3px solid #ccc;
}

.profile-nickname {
    /*font-family: Courier New, sans-serif;*/
    color: #6C6C6C;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 20px; /* 닉네임 상단 여백 */
    margin-bottom: 5px; /* 닉네임 하단 여백 */
}

.line-section {
    margin-top: 40px;
    margin-bottom: 20px;
}

.category-section {
    width: 100%;
    padding-left: 0px;
    margin-top: 20px;
}

.category-title {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list ul {
    padding-left: 20px;
    display: none; /* 자식 요소 숨기기 */
}

.category-item {
    list-style: none;
    margin-top: 7px;
}

.category-item:hover {
    background-color: #f8f9fa;
}

.category-item-link {
    text-decoration: none;
    color: black;
}

.category-toggle-icon {
    margin-right: 5px;
}

.selected-category {
    font-weight: bold;
    color: #0061b7; /* 원하는 강조 스타일로 변경 */
}