<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head th:replace="~{common/layout/head :: common_head(~{::title},~{::link})}">
    <title>Welcome To Mylog</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- 메인 -->
<div class="main">
    <h2>Welcome to MyLog</h2>
    <p>간편하게 나만의 블로그를 시작해보세요.</p>
    <button id="startButton" th:href="@{/main}">시작하기</button>
</div>

<!-- 공통 스크립트 -->
<div th:replace="~{common/fragment/script :: common_script}"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("startButton").addEventListener("click", function() {
            window.location.href = "/main";
        });
    });
</script>
</body>
</html>
