<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout/head :: common_head(~{::title},~{::link})}">
    <title>Mylog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<div class="blog-container">
    <!-- 사이드 바 영역 -->
    <div class="sidebar" th:replace="~{common/fragment/sidebar :: sidebar(${user})}"></div>


    <!-- 메인 콘텐츠 영역 -->
    <div class="main-content">
        <!-- 헤더 영역 -->
        <div class="header" th:replace="~{common/fragment/header :: header(${user})}"></div>

        <!-- 빈 영역 -->
        <div class="none-area"></div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <!-- ToDo. 글 쓰기 버튼 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5"></div>
                <div class="col-md-1">새글 쓰기</div>
                <div class="col-md-3"></div>
            </div>
            <!-- 라인 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><hr></div>
                <div class="col-md-3"></div>
            </div>
            <!-- 게시글 영역 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="post-list">
                        <div class="post-item mb-4 p-3 border rounded">
                            <h3 class="post-title">My First Blog Post</h3>
                            <p class="post-content">This is the content of my first blog post. It contains some interesting information about the topic of my blog. I hope you find it useful and engaging!</p>
                            <p class="text-muted">
                                <small>Category: General</small>
                                <span class="mx-2">|</span>
                                <small>2024-07-06 10:00</small>
                                <span class="mx-2">|</span>
                                <small>조회수: 10</small>
                            </p>
                        </div>
                        <div class="post-item mb-4 p-3 border rounded">
                            <h3 class="post-title">My First Blog Post</h3>
                            <p class="post-content">This is the content of my first blog post. It contains some interesting information about the topic of my blog. I hope you find it useful and engaging!</p>
                            <p class="text-muted">
                                <small>Category: General</small>
                                <span class="mx-2">|</span>
                                <small>2024-07-06 10:00</small>
                                <span class="mx-2">|</span>
                                <small>조회수: 10</small>
                            </p>
                        </div>
                        <div class="post-item mb-4 p-3 border rounded">
                            <h3 class="post-title">My First Blog Post</h3>
                            <p class="post-content">This is the content of my first blog post. It contains some interesting information about the topic of my blog. I hope you find it useful and engaging!</p>
                            <p class="text-muted">
                                <small>Category: General</small>
                                <span class="mx-2">|</span>
                                <small>2024-07-06 10:00</small>
                                <span class="mx-2">|</span>
                                <small>조회수: 10</small>
                            </p>
                        </div>
                        <div class="post-item mb-4 p-3 border rounded">
                            <h3 class="post-title">My First Blog Post</h3>
                            <p class="post-content">This is the content of my first blog post. It contains some interesting information about the topic of my blog. I hope you find it useful and engaging!</p>
                            <p class="text-muted">
                                <small>Category: General</small>
                                <span class="mx-2">|</span>
                                <small>2024-07-06 10:00</small>
                                <span class="mx-2">|</span>
                                <small>조회수: 10</small>
                            </p>
                        </div>
                        <div class="post-item mb-4 p-3 border rounded">
                            <h3 class="post-title">My First Blog Post</h3>
                            <p class="post-content">This is the content of my first blog post. It contains some interesting information about the topic of my blog. I hope you find it useful and engaging!</p>
                            <p class="text-muted">
                                <small>Category: General</small>
                                <span class="mx-2">|</span>
                                <small>2024-07-06 10:00</small>
                                <span class="mx-2">|</span>
                                <small>조회수: 10</small>
                            </p>
                        </div>
                        <!-- 페이징 버튼 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" id="pagination">
                                <!-- 페이징 버튼이 여기에 추가됩니다. -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<!-- 공통 스크립트 -->
<div th:replace="~{common/fragment/script :: common_script}"></div>
</body>
</html>