<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout/head :: common_head(~{::title},~{::link})}">
    <title>Mylog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<div class="blog-container">
    <!-- 사이드 바 영역 -->
    <div class="sidebar" th:replace="~{common/fragment/sidebar :: sidebar(${user})}"></div>


    <!-- 메인 콘텐츠 영역 -->
    <div class="main-content">
        <!-- 헤더 영역 -->
        <div class="header" th:replace="~{common/fragment/header :: header(${user})}"></div>

        <!-- 빈 영역 -->
        <div class="none-area"></div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <!-- ToDo. 글 쓰기 버튼 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <a class="new-post-icon" th:href="@{/edit}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!-- 라인 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><hr></div>
                <div class="col-md-3"></div>
            </div>
            <!-- 에디터 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="post-form">
                        <textarea name="postContent" id="summernote"></textarea>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<!-- 공통 스크립트 -->
<div th:replace="~{common/fragment/script :: common_script}"></div>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-ko-KR.min.js"></script>


<script>
    $('#summernote').summernote({
          height: 800,
          lang: 'ko-KR',
          toolbar: [
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert',['picture']]
              ],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72','96'],
            focus : false,
            callbacks : {
                onImageUpload : function(files, editor, welEditable) {
                    for (var i = 0; i < files.length; i++) {
                        imageUploader(files[i], this);
                    }
                }
            }
      });
</script>

</body>
</html>