<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head th:replace="~{common/layout/head :: common_head(~{::title},~{::link})}">
    <title>Mylog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div class="blog-container">
    <!-- 메인 콘텐츠 영역 -->
    <div class="main-content">
        <!-- 헤더 영역 -->
        <div class="header" th:replace="~{common/fragment/header :: header(${user})}"></div>

        <!-- 빈 영역 -->
        <div class="none-area"></div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <!-- 제목 -->
            <div class="row content-title-div">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="content-title" th:text="${post.title}"></h1>
                    <p class="text-muted">
                        <small><a th:href="@{/blog/{userId}(userId=${bloger.userId})}" style="text-decoration: none;">작성자 Mylog</a></small>
                        <span class="mx-2">|</span>
                        <small th:text="'Writer: ' + ${post.writer}">Writer: user</small>
                        <span class="mx-2">|</span>
                        <small th:text="'Category: ' + ${post.category}">Category: General</small>
                        <span class="mx-2">|</span>
                        <small th:text="${post.createAt}">2024-07-06 10:00</small>
                        <span class="mx-2">|</span>
                        <small th:text="'조회수: ' + ${post.viewCount}">조회수: 10</small>
                        <span class="mx-2">|</span>
                        <small th:text="'댓글: ' + ${post.commentCount}">댓글: 10</small>
                    </p>
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!-- 게시글 영역 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="viewer" style="margin: 20px;"></div>
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<!-- 공통 스크립트 -->
<div th:replace="~{common/fragment/script :: common_script}"></div>
<!-- toast ui 스크립트-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // 서버에서 전달된 content를 JavaScript 변수로 변환
    const content = /*[[${post.content}]]*/ '';

    // 데이터 출력 확인
    console.log("Content from server:", content);

    // TOAST UI Viewer 초기화
    const viewer = new toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        initialValue: content,
        viewer: true,
        height: '600px'
    });

    /*]]>*/
</script>
</body>
</html>
