<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head th:replace="~{common/layout/head :: common_head(~{::title},~{::link})}">
    <title>Mylog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div class="blog-container">
    <!-- 메인 콘텐츠 영역 -->
    <div class="main-content">
        <!-- 헤더 영역 -->
        <div class="header" th:replace="~{common/fragment/header :: header(${user})}"></div>

        <!-- 빈 영역 -->
        <div class="none-area" style="height:10%;"></div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <!-- 제목 -->
            <div class="row content-title-div">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="content-title" th:text="${post.title}"></h1>
                    <div class="none-area" style="height:2%;"></div>
                    <p class="text-muted">
                        <small><a th:href="@{/blog/{userId}(userId=${bloger.userId})}" th:text="${post.writer} + '`s Mylog'" style="text-decoration: none;">Mylog</a></small>
                        <span class="mx-2">|</span>
                        <small th:text="'Writer: ' + ${post.writer}">Writer: user</small>
                        <span class="mx-2">|</span>
                        <small th:text="'Category: ' + ${post.category}">Category: General</small>
                        <span class="mx-2">|</span>
                        <small th:text="${post.createAt}">2024-07-06 10:00</small>
                        <span class="mx-2">|</span>
                        <small th:text="'조회수: ' + ${post.viewCount}">조회수: 10</small>
                        <span class="mx-2">|</span>
                        <small th:text="'댓글: ' + ${post.commentCount}">댓글: 10</small>
                        <!-- 수정 및 삭제 링크 (작성자와 현재 사용자가 동일할 때만 표시) -->
                        <span th:if="${user != null and user.userId == bloger.userId}">
                            <span class="mx-2">|</span>
                            <small><a th:href="@{/blog/edit/{postId}(postId=${post.postId})}" id="postUpdateButton">수정</a></small>
                            <span class="mx-2">|</span>
                            <small><a href="#" class="postDeleteButton" th:attr="data-id=${post.postId}">삭제</a></small>
                        </span>
                    </p>
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!-- 게시글 영역 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="viewer" style="margin: 20px;"></div>
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>

            <!-- 댓글 영역 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="comment-section" id="comments-section">
                        <h3>댓글</h3>
                        <div id="comments-list">
                            <div th:each="comment : ${commentList}">
                                <div class="comment" th:attr="data-id=${comment.commentId}">
                                    <div class="comment-header">
                                        <span class="comment-author" th:text="${comment.nickname}"></span>
                                        <span class="comment-date" th:text="${comment.createAt}"></span>
                                    </div>
                                    <div class="comment-body">
                                        <p th:text="${comment.content}"></p>
                                    </div>
                                    <div class="comment-footer">
                                        <span th:if="${user != null and user.userId == comment.userId}">
                                            <a href="#" class="commentEditButton" th:attr="data-id=${comment.commentId}">수정</a>
                                        </span>
                                        <span th:if="${user != null and user.userId == comment.userId}">
                                            <a href="#" class="commentDeleteButton" th:attr="data-id=${comment.commentId}">삭제</a>
                                        </span>
                                        <a href="#" class="replyButton" th:if="${comment.depth < 1}" th:attr="data-id=${comment.commentId}">답글</a>
                                    </div>
                                    <div class="reply-form">
                                        <textarea class="reply-content"></textarea>
                                        <button class="btn btn-primary replySubmitButton" th:attr="data-id=${comment.commentId}">작성하기</button>
                                    </div>
                                    <div class="comment-reply" th:each="reply : ${comment.replies}">
                                        <div class="comment" th:attr="data-id=${reply.commentId}">
                                            <div class="comment-header">
                                                <span class="comment-author" th:text="${reply.nickname}"></span>
                                                <span class="comment-date" th:text="${reply.createAt}"></span>
                                            </div>
                                            <div class="comment-body">
                                                <p th:text="${reply.content}"></p>
                                            </div>
                                            <div class="comment-footer">
                                                <span th:if="${user != null and user.userId == reply.userId}">
                                                    <a href="#" class="commentEditButton" th:attr="data-id=${reply.commentId}">수정</a>
                                                </span>
                                                <span th:if="${user != null and user.userId == reply.userId}">
                                                    <a href="#" class="commentDeleteButton" th:attr="data-id=${reply.commentId}">삭제</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${#authentication.name != 'anonymousUser'}" class="comment-form">
                            <textarea id="comment-content" placeholder="댓글을 작성하세요"></textarea>
                            <button id="commentSubmitButton" class="btn btn-success">작성하기</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>
    </div>
</div>
<!-- 공통 스크립트 -->
<div th:replace="~{common/fragment/script :: common_script}"></div>
<!-- toast ui 스크립트-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript"  >
    /*<![CDATA[*/
    const userId = /*[[${user.userId != null ? user.userId : ''}]]*/ '';
    const postId = /*[[${post.postId != null ? post.postId : ''}]]*/ '';
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const content = /*[[${post.content}]]*/ '';

    // TOAST UI Viewer 초기화
    const viewer = new toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        initialValue: content,
        viewer: true,
        height: '600px'
    });

    // 게시글 삭제
    document.querySelectorAll('.postDeleteButton').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const postId = button.getAttribute('data-id');
            if (confirm("정말로 이 게시물을 삭제하시겠습니까?")) {
                fetch(`/api/blog/post/${postId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === true) {
                        window.location.href = `/blog/${userId}`;
                    } else {
                        alert("게시물을 삭제하는데 실패했습니다.");
                    }
                })
                .catch(error => console.error("There was a problem with the fetch operation:", error));
            }
        });
    });

    // 댓글 작성
    document.getElementById('commentSubmitButton').addEventListener('click', function(event) {
        event.preventDefault();
        const commentContent = document.getElementById('comment-content').value;

        if (!commentContent.trim()) {
            alert("댓글 내용을 입력해주세요.");
            return;
        }

        fetch(`/api/blog/comment`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ content: commentContent,
                                   postId: postId })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then(data => {
            if (data.status === true) {
                location.reload(); // 페이지 새로고침하여 댓글 갱신
            } else {
                alert("댓글 작성에 실패했습니다.");
            }
        })
        .catch(error => console.error("There was a problem with the fetch operation:", error));
    });

    // 댓글 수정
    document.querySelectorAll('.commentEditButton').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const commentId = button.getAttribute('data-id');
            const commentContent = prompt("댓글을 수정하세요:");

            if (commentContent) {
                fetch(`/api/blog/comment/${commentId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ content: commentContent })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === true) {
                        location.reload(); // 페이지 새로고침하여 댓글 갱신
                    } else {
                        alert("댓글 수정에 실패했습니다.");
                    }
                })
                .catch(error => console.error("There was a problem with the fetch operation:", error));
            }
        });
    });

    // 댓글 삭제
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.commentDeleteButton').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const commentId = button.getAttribute('data-id');

                if (confirm("정말로 이 댓글을 삭제하시겠습니까?")) {
                    fetch(`/api/blog/comment/${commentId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.status === true) {
                            location.reload(); // 페이지 새로고침하여 댓글 갱신
                        } else {
                            alert("댓글 삭제에 실패했습니다.");
                        }
                    })
                    .catch(error => console.error("There was a problem with the fetch operation:", error));
                }
            });
        });
    });

    // 답글 작성 폼 토글
    document.querySelectorAll('.replyButton').forEach(button => {
        button.addEventListener('click', function(event) {
            console.log('tetetetet');
            event.preventDefault();
            const replyForm = button.closest('.comment').querySelector('.reply-form');
            if (replyForm) {
                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block';
                } else {
                    replyForm.style.display = 'none';
                }
            }
        });
    });

    // 답글 작성
    document.querySelectorAll('.replySubmitButton').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const parentCommentId = button.getAttribute('data-id');
            const replyContent = button.closest('.reply-form').querySelector('.reply-content').value;

            if (!replyContent.trim()) {
                alert("답글 내용을 입력해주세요.");
                return;
            }

            fetch(`/api/blog/comment/reply`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ content: replyContent, parentCommentId: parentCommentId, postId: postId })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                if (data.status === true) {
                    location.reload(); // 페이지 새로고침하여 댓글 갱신
                } else {
                    alert("답글 작성에 실패했습니다.");
                }
            })
            .catch(error => console.error("There was a problem with the fetch operation:", error));
        });
    });


    /*]]>*/
</script>
</body>
</html>
